<section class="pagination">
  <% if(currentPage !== 1) { %>
  <a href="?page=<%= previousPage %>">Prev</a>
  <% } %>

  <a href="?page=<%= currentPage%>" class="active"><%= currentPage%></a>

  <% if(hasNextPage) { %>
  <a href="?page=<%= nextPage %>"><%= nextPage %></a>
  <% } %> <%if(hasNextPage) {%>
  <a href="?page=<%= nextPage %>">Next</a>
  <% } %> <% if(currentPage <= lastPage -2) { console.log(lastPage);%>
  <a href="?page=<%= lastPage%>"><%= lastPage %></a>
  <% } %>
</section>
